// Variabili (opzionale, ma utile per i colori)
$primary-bg-color: #EED6D3;
$secondary-bg-color: #B9B7BD;
$border-color: black;
$font-color: black;

// Navbar
.navbar-custom {
  background-color: $primary-bg-color;
  border-bottom: solid 4px $border-color;
}

// Attribution
.attribution {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  color: $font-color;
}

// Content
.content {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

// Card
.card {
  min-height: 400px;
}

// Card Image
.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

// Blockquote
.blockquote {
  p {
    font-size: xx-large;
  }
  .blockquote-footer {
    font-size: large;
  }
}

// Footer
footer {
  background-color: $secondary-bg-color;
  padding: 25px;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Header (h1)
h1 {
  padding: 30px;
  text-align: center;
}

// Row Single Form
.row.single-form {
  box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.5);
}

// Left Section
.left {
  background: $secondary-bg-color;
  padding: 212px 100px;

  h2 {
    font-family: poppins;
    color: $font-color;
    font-weight: 700;
    font-size: 48px;
  }
}

// Right Section
.right {
  padding: 70px 100px;
  position: relative;

  i {
    position: absolute;
    font-size: 80px;
    left: -27px;
    top: 40%;
    color: $primary-bg-color;
  }

  button {
    &:hover {
      background: gray;
    }
  }
}

// Contatti
.contatti {
  padding-top: 100px;
}

// Container Fluid
.container-fluid.mt-5 {
  padding-bottom: 50px;
}
